<a href="https://colab.research.google.com/github/KetiMiros/Python_GB_08.03.23/blob/master/final_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  robot

In [2]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       0      1
5       0      1
6       1      0
7       0      1
8       0      1
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      1      0
15      1      0
16      1      0
17      1      0
18      0      1
19      0      1